@tailwind base;
@tailwind components;
@tailwind utilities;

.back {
  border-radius: 83px;
  background: #005baa;
  /* background-color: #e459ac; */
  box-shadow: 16px 16px 25px #004b8b, -16px -16px 25px #006bc9;
}
.swiper-button-next,
.swiper-button-prev {
  color: #004b8b !important;
  background-color: #473c33 !important;
  border-radius: 50% !important;
  height: 2rem;
  width: 2rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
  font-weight: 700;
}
@font-face {
  font-family: "bahnsc";
  src: url("/fonts/BAHNSCHRIFT.TTF") format("TTF");
  /* Ajoutez d'autres formats de police si nécessaire */
}
/*
@font-face {
  font-family: "B93";
  src: url("/fonts/Bauhaus93Regular.ttf") format("ttf");
}
Ajoutez d'autres formats de police si nécessaire */

.swiper-pagination-bullet {
  background-color: #004b8b;
  font-size: 4rem;
}
